.section-servicios {
    padding: 0;
    margin-bottom: 2vmax;
}



.bannerContainer {

    .div-titulo-banner {
        text-align: center;
        padding-bottom: 1.5vmax;
        font-family: "Alata", sans-serif;
    }

    
    background-color: rgb(202, 194, 157);
    // border: solid 4px rgb(158, 28, 50);
    width: 100%;
    padding: 2vmax;
    margin: 0;


    .div-icono-servicio {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 1vmax;

        .contenedorImg {
            padding: 1.5vmax;
            border:none;
            border-radius: 50%;
            box-shadow: 1px 3px 6px rgba(2, 2, 2, 0.521);
            background-color: rgb(243, 240, 228);

            
            .bannerServicioImg {
                width: 4vmax;
            
            }

        }


        p {
            text-align: center;
            font-size: 1.2vmax;

            font-weight: bold;


            font-family: "Alata", sans-serif;


        }
    }
}