.row-blog-titulo-container {
  margin: 0 auto;
}

.tituloGralBlogSection {
  text-align: center;
  font-size: 5vmax;
  font-family: "Alata", sans-serif;
  font-weight: 700;
  padding: 1vmax 3vmax;
  margin: 0 auto;
}

.article-card {
    width: 100%;
    max-width: 80%;
    margin: 2vmax auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: max-height 0.5s ease;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.445);
  }
  
  .article-card img {
    width: 18vmax;
    height: auto;
    
  }
  
  .content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .article-text {
    max-height: 80px; /* Controla la cantidad de texto visible */
    overflow: hidden;
    transition: max-height 0.5s ease;
    padding: 1vmax;
    text-align: justify;
  }

 

  .article-text.expanded {
    max-height: 500px; /* Altura expandida */
  }
  
  .read-more-btn {
    display: block;
    margin: 10px 0;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .read-more-btn:hover {
    background-color: #0056b3;
  }