* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #D8DDE1;
}




/* 



        // font-family: "Playwrite DE Grund", cursive;

        // font-family: "Euphoria Script", cursive;

        // font-family: "Merriweather", serif;

        // font-family: "Montserrat", sans-serif;

        // font-family: "Ruda", sans-serif;   

        // font-family: "BIZ UDPGothic", sans-serif;   
        
        // font-family: "Rampart One", sans-serif;

        // font-family: "Suez One", serif;

        // font-family: "Archivo Black", sans-serif;

        // font-family: "Antic Slab", serif;    

        // font-family: "Archivo Narrow", sans-serif;

        // font-family: "Noto Sans JP", sans-serif;

        // font-family: "Alata", sans-serif;

        // font-family: "Notable", sans-serif;



*/
