@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #D8DDE1;
}

.navbar {
  height: 4vmax;
  background-color: #D8DDE1;
  margin-top: 0;
}
.navbar .ContainerNavbar {
  display: flex;
  flex-flow: row wrap;
  background-color: rgba(168, 207, 219, 0.4431372549);
}

.navbar-brand {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.2vmax;
}
.navbar-brand .brandImg {
  width: 2vmax;
  color: #294e5a;
}
.navbar-brand .brandText {
  margin-bottom: 0;
  color: #294e5a;
  font-weight: 700;
  font-family: "Rampart One", sans-serif;
}

.navbar-nav .nav-item .nav-link {
  color: #23444e;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* media queries */
/* estructura */
/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 992px) {
  .navbar {
    height: 6vmax;
  }
  .navbar .ContainerNavbar .nav-izquierda {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
  }
  .navbar .ContainerNavbar .nav-izquierda .navbar-brand .brandImg {
    width: 4vmax;
  }
  .navbar .ContainerNavbar .nav-izquierda .navbar-brand .brandText {
    font-size: 2vmax;
  }
  .navbar-toggler {
    border: none;
    padding: 0;
    margin-bottom: 0.3vmax;
  }
  .navbar-collapse {
    background-color: rgb(21, 60, 89);
    margin: 3vmax;
    padding: 1vmax;
    border-radius: 10px;
    padding-left: 2vmax;
    z-index: 22;
  }
  .nav-link {
    color: white !important;
    font-weight: bold;
  }
  .nav-link:hover {
    background-color: antiquewhite;
    color: rgb(21, 60, 89) !important;
    border-radius: 5px;
    padding-left: 0.5vmax;
  }
  .dropdown-menu {
    background-color: rgb(129, 166, 194);
    border: none;
  }
  .dropdown-menu li .dropdown-item {
    font-weight: bold;
    color: rgb(21, 60, 89);
  }
  .dropdown-menu li .dropdown-item:hover {
    font-weight: bold;
    background-color: antiquewhite;
    color: rgb(21, 60, 89) !important;
    border-radius: 5px;
  }
}
/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 768px) {
  .navbar {
    height: 8vmax;
    padding-bottom: 0.4vmax;
  }
  .navbar .ContainerNavbar .nav-izquierda {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
  }
  .navbar .ContainerNavbar .nav-izquierda .navbar-brand .brandImg {
    width: 5vmax;
  }
  .navbar .ContainerNavbar .nav-izquierda .navbar-brand .brandText {
    font-size: 3vmax;
  }
}
/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 576px) {
  .navbar {
    padding-bottom: 0.8vmax;
  }
}
/* medida personalizada 420 */
/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/
.headerContenedor {
  height: 80vh;
  background-image: url("../Img/uno.jpg");
  background-size: cover;
  background-position: center center;
}

.col-izq-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  transform: scale(0.8);
  opacity: 0;
  animation: zoomIn 1.5s ease-out forwards;
}
@keyframes zoomIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.col-izq-header .spanHeaderUno {
  color: rgb(255, 255, 255);
  font-family: "Alata", sans-serif;
  font-size: 2.4vmax;
  text-shadow: 8px 5px 4px rgba(0, 0, 0, 0.836);
}
.col-izq-header h1 {
  color: white;
  font-family: "Notable", sans-serif;
  font-weight: 300;
  font-size: 5.4vmax;
  text-shadow: 4px 8px 8px rgba(0, 0, 0, 0.836);
  letter-spacing: 1.5px;
}
.col-izq-header .botonHeader {
  color: #ffffff;
  background-color: #247452;
  padding: 0.5vmax 2vmax;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Alata", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 700;
  font-size: 1.4vmax;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.836);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.836);
  margin-top: 2.5vmax;
}
.col-izq-header .botonHeader:hover {
  color: #21273a;
  background-color: #3edb9a;
  text-shadow: none;
}

.sectionCards {
  margin-bottom: 10vmax;
  padding: 3vmax;
}

.primerCardsGroup {
  height: 40vmax;
  overflow: hidden;
}

.cardsDiv {
  width: 100%;
  position: relative; /* Necesario para que el texto se posicione sobre la imagen */
  overflow: hidden; /* Para que el zoom no cambie el tamaño visible */
  transition: transform 0.4s ease, filter 0.4s ease; /* Transición suave */
}

.contenedorCentralPalmeras {
  padding: 0;
}

.subtitle {
  font-family: "Alata", sans-serif;
  font-weight: 700;
  font-size: 3.5vmax;
  padding: 2vmax;
  padding-top: 0 !important;
  text-align: center;
  color: #0d1c20;
}

.cardsDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease, filter 0.4s ease; /* Transición suave */
}

/* Efecto hover para zoom y filtro */
.cardsDiv:hover img {
  transform: scale(1.1); /* Zoom */
  filter: brightness(0.8); /* Filtro de brillo para oscurecer ligeramente */
}

/* Texto que aparece en hover */
.cardsDiv .cardText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.4s ease; /* Transición suave para aparición del texto */
}

.cardsDiv:hover .cardText {
  opacity: 1; /* Texto aparece cuando se hace hover */
}

/* Efecto de link clicable sobre el texto */
.cardsDiv .cardText a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.cardsDiv .cardText a:hover {
  color: #ffd700; /* Cambia el color del enlace en hover */
}

.cardsDivLados {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  height: 80%;
}

.cardCentralDiv {
  height: 40vmax;
  padding: 0;
  margin: 0;
}

.cardsDerDiv,
.cardsIzqDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vmax;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: #f0f0f0;
  color: #1a1a1a;
}

/* .container {
  padding: 3rem 0;
} */
.pack-container {
  /* display: flex;
     flex-flow: row nowrap;
     justify-content: center;
     align-items: center;
     gap: 1vmax;
  */
  margin-bottom: 2vmax;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}
.pack-container:hover {
  transform: scale(1.02);
}
.pack-container .titulo-pack {
  font-size: 3vmax;
  text-align: center;
  padding-top: 1.5vmax;
}
.pack-container .duracion {
  font-size: 1.5vmax;
  text-align: center;
}

.div-textos-pack {
  padding: 2rem;
}
.div-textos-pack p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
  color: #010101;
}
.div-textos-pack ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}
.div-textos-pack ul li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  list-style: none;
  position: relative;
}
.div-textos-pack ul li:before {
  content: "•";
  position: absolute;
  left: -20px;
  color: #b8975d;
  font-size: 1.5rem;
}
.div-textos-pack span {
  display: block;
  margin-top: 1rem;
  color: #b8975d;
  font-weight: bold;
}

.description-pack {
  text-align: justify !important;
}

.div-img-pack {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5vmax;
}
.div-img-pack img {
  width: 30vmax;
  height: auto;
  border-radius: 10px;
}
.div-img-pack a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #b8975d;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
}
.div-img-pack a:hover {
  background-color: #9d7d45;
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .div-textos-pack, .div-img-pack {
    text-align: center;
    padding: 1rem;
  }
  .div-img-pack {
    margin-bottom: 1rem;
  }
  .div-textos-pack h3 {
    font-size: 1.5rem;
  }
}
.section-servicios {
  padding: 0;
  margin: 0;
}

.bannerContainer {
  background-color: rgb(202, 194, 157);
  width: 100%;
  padding: 2vmax;
  margin: 0;
}
.bannerContainer .div-icono-servicio {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1vmax;
}
.bannerContainer .div-icono-servicio .contenedorImg {
  padding: 1.5vmax;
  border: none;
  border-radius: 50%;
  box-shadow: 1px 3px 6px rgba(2, 2, 2, 0.521);
  background-color: rgb(243, 240, 228);
}
.bannerContainer .div-icono-servicio .contenedorImg .bannerServicioImg {
  width: 4vmax;
}
.bannerContainer .div-icono-servicio p {
  text-align: center;
  font-size: 1.2vmax;
  font-weight: bold;
  font-family: "Alata", sans-serif;
}

.article-card {
  width: 100%;
  max-width: 90%;
  margin: 2vmax auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.article-card img {
  width: 18vmax;
  height: auto;
}

.content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-text {
  max-height: 80px; /* Controla la cantidad de texto visible */
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.article-text.expanded {
  max-height: 500px; /* Altura expandida */
}

.read-more-btn {
  display: block;
  margin: 10px 0;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.read-more-btn:hover {
  background-color: #0056b3;
}

/* 



        // font-family: "Playwrite DE Grund", cursive;

        // font-family: "Euphoria Script", cursive;

        // font-family: "Merriweather", serif;

        // font-family: "Montserrat", sans-serif;

        // font-family: "Ruda", sans-serif;   

        // font-family: "BIZ UDPGothic", sans-serif;   

        // font-family: "Rampart One", sans-serif;

        // font-family: "Suez One", serif;

        // font-family: "Archivo Black", sans-serif;

        // font-family: "Antic Slab", serif;    

        // font-family: "Archivo Narrow", sans-serif;

        // font-family: "Noto Sans JP", sans-serif;

        // font-family: "Alata", sans-serif;

        // font-family: "Notable", sans-serif;



*/

/*# sourceMappingURL=styles.css.map */
